.education,
.experience,
.projects,
.contact {
  scroll-margin-top: 70px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.profile-container {
  display: grid;
  grid-template-columns: 350px 350px;
  height: 100%;
  justify-content: center;
  border-radius: 10px;

  background-color: #ced4da;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.profile-left {
  padding: 20px;
  height: 360px;

  border-radius: 10px;
}

.profile-title {
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 5px;
}

.profile-description {
  font-size: 26px;
  font-weight: 300;
}


.profile-right {
  height: 400px;
  justify-self: right;
}

.profile-picture {
  height: 100%;
  border-radius: 10px;
}

.section-header {
  text-align: center;
  margin: 40px;
  font-weight: 700;
  color: #1b263b;
}

.section-delimiter {
  border-top: 1px solid #ced4da;
}

.timeline {
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
}

/* Timeline */
.timeline::after {
  content: '';
  background-color: #dee2e6;
  position: absolute;
  width: 2px;
  top: 3px;
  bottom: 0;
  left: 33%;
}

.evidence-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  margin-bottom: 50px;
}

/* Points on timeline */
.evidence-container::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 33%;
  width: 13px;
  height: 13px;

  background-color: #415a77;
  border-radius: 50%;
  margin-left: -5px;
  z-index: 1;

}

.evidence-container-left {
  display: flex;
  justify-content: right;
  
  padding-right: 10px;
  margin-top: 0;
}

.evidence-container-left h3 {
  margin-top: 0;
  margin-right: 45px;
}

.evidence-container-right {
  margin-left: 30px;
}

.evidence-title {
  margin-top: 0;
  font-weight: 600;
}

.project-grid {
  display: grid;
  grid-template-columns: 500px 500px;
  gap: 0;
  margin-top: 80px;
  justify-content: center;
}

.project-list-container {
    border-left: 3px solid rgba(0, 0, 0, 0.323);
    border-bottom: 3px solid rgba(0, 0, 0, 0.323);
}

.project-item-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-top: 3px solid rgba(0, 0, 0, 0.323);
  
}

.project-item-container:hover {
  background-color: #f5f5f5;
}

.project-name {
  font-size: 26px;
  margin: auto 0;
  display: inline-block;
  padding-left: 10px;
}

.project-toggle-button {
  border: none;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0);
  margin: auto 0;
  width: 2em;
  
}

.project-toggle-button:hover {
  cursor: pointer;
}

.project-view-container {
  padding: 20px;
  border-right: 3px solid rgba(0, 0, 0, 0.323);
  border-bottom: 3px solid rgba(0, 0, 0, 0.323);
  border-top: 3px solid rgba(0, 0, 0, 0.323);
}

.project-view-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.project-image {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.132), 0 6px 20px 0 rgba(0, 0, 0, 0.132);

}

.project-description {
  margin: 20px 0;
  font-weight: 500;

}

.git-hub-project-button {
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border-style: none;
}

.git-hub-project-button:hover {
  background-color: rgba(0, 0, 0, 0.711);
  cursor: pointer;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px 0 0 0;
  background-color: #e9ecef;
}

.contact-container {
  padding: 60px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;

  background-color: #ced4da;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  
}


.contact-left {
  position: relative;

  height: 100%;
}

.contact-title {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 23px;
  font-weight: 500;
}

.contact-email {
  margin: 45px 20px 0 0;
  padding-top: 10px;
  border-top: 1px solid black;
}

.email-title {
  font-weight: 600;
  margin-bottom: 0;
}

.personal-email {
  font-weight: 400;
  margin: 0;
}

.socials-container {
  position: absolute;
  bottom: 0;
  margin-top: 20px;
  height: 29px;
  
  display: flex;
}

.github-link,
.linkedin-link {
  margin: 0 20px 0 0;
}

.github-icon,
.linkedin-icon {
  height: 100%;
}

.github-icon:hover,
.linkedin-icon:hover {
  cursor: pointer;
}

.contact-right {
  height: 250px;
  width: 250px;
}

.input-field {
  background-color: rgba(255, 255, 255, 0);
  margin: 0 0 15px 0;
  border: 1px solid black;
  padding: 7px 30px;
  resize: none;
}

.submit-button {
  margin: 2px 0 0 0;
  padding: 6px 25px;
  display: block;
  background-color: rgba(255, 255, 255, 0.268);
  border: 1px solid rgba(0, 0, 0, 0.592);
}

.submit-button:hover {
  cursor: pointer;
}

.confirmation-message {
  display: none;
  margin-top: 8px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.301);
}

/* Media Queries*/

@media(max-width: 785px) {
  .profile-container {
    grid-template-columns: 1fr 1fr;
  }

  .profile-title {
    font-size: 17px;
    margin-bottom: 5px;
  }

  .profile-description {
  font-size: 19px;
  }
  
  .project-grid {
    grid-template-columns: 1fr;
  }

  .project-list-container {
    border-right: 3px solid rgba(0, 0, 0, 0.323);
    border-bottom: none;
  }

  .project-view-container {
    border-top: none;
    border-left: 3px solid rgba(0, 0, 0, 0.323);
  }

  .contact-container {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  
  .socials-container {
    position: static;
  }
}