.header {
  height: 60px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  align-items: center;
}

.header-left {
  margin: 20px;
}

.header-right {
  display: flex;
  margin: 20px;
}